---
import MainLayout from "../layouts/MainLayout.astro";

const contacts = {
  board: {
    name: "Styrelsen 2023/24",
    mail: "styrelsen@brfslipen40.se",
    memeber: [
      {
        role: "Ordförande",
        name: "Johan Eng Larsson",
      },
      {
        role: "Kassör",
        name: "Tobias Nilsson",
      },
      {
        role: "Sekreterare",
        name: "Mira Rosengren Keijser",
      },
      {
        role: "Ledamot",
        name: "Anna Andersson",
      },
    ],
  },
  propertyManager: {
    mail: "adfingo@telia.com",
    phone: "08-556 304 00",
  },
};
---

<MainLayout title="Slipen 40 | Kontakt">
  <h1>Kontaktinformation</h1>

  <div class="stack gap-4">
    <div>
      <h2>Styrelsen</h2>

      <p class="mb-2">
        Mejl: <a href={`mailto:${contacts.board.mail}`}>{contacts.board.mail}</a
        >
      </p>

      <table
        class="table-auto border-separate border-spacing-1 border-slate-500"
      >
        <thead>
          <tr>
            <th>
              {contacts.board.name}
            </th>
          </tr>
        </thead>

        <tbody>
          {
            contacts.board.memeber.map((member) => (
              <tr>
                <td>{member.role}</td>
                <td>{member.name}</td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>

    <div>
      <h2>Fastighetsskötare/Jour</h2>

      <p>
        Mejl: <a href={`mailto:${contacts.propertyManager.mail}`}
          >{contacts.propertyManager.mail}</a
        >

        <br />

        Telefon: <a href={`tel:${contacts.propertyManager.phone}`}
          >({contacts.propertyManager.phone})</a
        >
      </p>
    </div>
  </div>
</MainLayout>
